workflows/melinda-query-core-starter.json
{
  "name": "query__melinda_core",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1200,
        200
      ],
      "notes": "Trigger manual para pruebas sin webhook.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "question",
              "value": "en el site MLM, y la vertical de beauty cual es la afectación de vidriera"
            },
            {
              "name": "execution_source",
              "value": "manual"
            }
          ]
        },
        "options": {}
      },
      "id": "set-manual-1",
      "name": "Set - Manual Question",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -980,
        200
      ],
      "notes": "Pregunta manual para pruebas. Cambiala cuando quieras.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "path": "melinda/query",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node-1",
      "name": "Webhook - Question",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1200,
        0
      ],
      "notes": "Entrada HTTP. Espera {\"question\":\"...\"}. No usar en prod hasta configurar seguridad.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "question",
              "value": "={{$json.question}}"
            },
            {
              "name": "executionSource",
              "value": "={{$json.execution_source || \"webhook\"}}"
            },
            {
              "name": "openaiApiKey",
              "value": "<REDACTED_CREDENTIAL>"
            },
            {
              "name": "openaiModel",
              "value": "gpt-4o-mini"
            },
            {
              "name": "tableauServer",
              "value": "https://<TABLEAU_SERVER>"
            },
            {
              "name": "tableauSiteContentUrl",
              "value": "<TABLEAU_SITE_CONTENT_URL>"
            },
            {
              "name": "tableauViewId",
              "value": "<TABLEAU_VIEW_ID>"
            },
            {
              "name": "tableauPATName",
              "value": "<TABLEAU_PAT_NAME>"
            },
            {
              "name": "tableauPATSecret",
              "value": "<TABLEAU_PAT_SECRET>"
            },
            {
              "name": "bqTable",
              "value": "<BQ_TABLE>"
            },
            {
              "name": "bqProject",
              "value": "<BQ_PROJECT_ID>"
            }
          ]
        },
        "options": {}
      },
      "id": "set-node-1",
      "name": "Set - Context & Placeholders",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -980,
        0
      ],
      "notes": "Placeholders para credenciales y config. Reemplazar antes de ejecutar.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "sendBody": true,
        "jsonParameters": true,
        "bodyParametersJson": "={{ { model: $json.openaiModel, temperature: 0.2, response_format: { type: 'json_object' }, messages: [ { role: 'system', content: 'Eres Melinda. Extrae filtros y devuelve SOLO JSON valido. Estructura: {\"track\":\"Fakes|Enhanced Content|Other\",\"metric\":\"string|empty\",\"filters\":{\"Fecha\":\"YYYY-MM-DD:YYYY-MM-DD|empty\",\"Site\":\"string|all\",\"Vertical\":\"string|all\",\"Segmento\":\"string|all\",\"AGG1\":\"string|empty\",\"AGG2\":\"string|empty\",\"Domain\":\"string|all\",\"Brand\":\"string|all\"},\"intent\":\"descriptive|comparison|trend\"} Reglas: - Si menciona fakes o afectacion de vidriera, track = Fakes. - Si menciona EC o enhanced content, track = Enhanced Content. - Si no hay fecha, Fecha vacio. - No inventes valores.' }, { role: 'user', content: $json.question } ] } }}",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $json.openaiApiKey}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "openai-parse-1",
      "name": "OpenAI - Parse Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -740,
        0
      ],
      "notes": "Parsea pregunta a filtros. Requiere API key. Placeholder en openaiApiKey.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "functionCode": "const content = $json.choices?.[0]?.message?.content || '{}';\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch (e) {\n  parsed = { track: 'Other', metric: '', filters: {}, intent: 'descriptive', _parse_error: true, _raw: content };\n}\nreturn [{ json: parsed }];"
      },
      "id": "parse-intent-1",
      "name": "Parse Intent JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        -520,
        0
      ],
      "notes": "Convierte la salida de OpenAI a JSON.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "functionCode": "const cfg = $node[\"Set - Context & Placeholders\"].json;\nconst inData = $json || {};\nconst trackRaw = (inData.track || '').toString().toLowerCase();\nlet track = inData.track || 'Other';\nif (trackRaw.includes('fake') || trackRaw.includes('vidriera')) track = 'Fakes';\nif (trackRaw.includes('enhanced') || trackRaw === 'ec' || trackRaw.includes('ec')) track = 'Enhanced Content';\nconst f = inData.filters || {};\nconst filters = {\n  Fecha: f.Fecha || '',\n  Site: f.Site || 'all',\n  Vertical: f.Vertical || 'all',\n  Segmento: f.Segmento || 'all',\n  AGG1: f.AGG1 || '',\n  AGG2: f.AGG2 || '',\n  Domain: f.Domain || 'all',\n  Brand: f.Brand || 'all'\n};\nreturn [{\n  json: {\n    question: cfg.question,\n    executionSource: cfg.executionSource || 'webhook',\n    track,\n    metric: inData.metric || '',\n    intent: inData.intent || 'descriptive',\n    filters,\n    openaiApiKey: cfg.openaiApiKey,\n    openaiModel: cfg.openaiModel,\n    tableauServer: cfg.tableauServer,\n    tableauSiteContentUrl: cfg.tableauSiteContentUrl,\n    tableauViewId: cfg.tableauViewId,\n    tableauPATName: cfg.tableauPATName,\n    tableauPATSecret: cfg.tableauPATSecret,\n    bqTable: cfg.bqTable,\n    bqProject: cfg.bqProject\n  }\n}];"
      },
      "id": "normalize-filters-1",
      "name": "Normalize Filters",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        -300,
        0
      ],
      "notes": "Normaliza track y defaults. Usa nombres de filtros exactos.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.track}}",
        "rules": [
          {
            "operation": "equal",
            "value2": "Fakes"
          },
          {
            "operation": "equal",
            "value2": "Enhanced Content"
          }
        ]
      },
      "id": "switch-track-1",
      "name": "Switch - Track",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        -60,
        0
      ],
      "notes": "Rutea a Fakes (Tableau) o Enhanced Content (BigQuery).",
      "notesInFlow": true
    },
    {
      "parameters": {
        "url": "={{$json.tableauServer + '/api/3.20/auth/signin'}}",
        "method": "POST",
        "sendBody": true,
        "jsonParameters": true,
        "bodyParametersJson": "={{ { credentials: { personalAccessTokenName: $json.tableauPATName, personalAccessTokenSecret: $json.tableauPATSecret, site: { contentUrl: $json.tableauSiteContentUrl } } } }}",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "tableau-signin-1",
      "name": "Tableau Sign In",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        180,
        -160
      ],
      "notes": "Auth con PAT. Reemplazar placeholders.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "functionCode": "const cfg = $node[\"Normalize Filters\"].json;\nconst token = $json.credentials?.token || $json.token || '';\nconst siteId = $json.credentials?.site?.id || $json.site?.id || '';\nreturn [{ json: { ...cfg, tableauToken: token, tableauSiteId: siteId } }];"
      },
      "id": "tableau-token-1",
      "name": "Tableau Extract Token",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        420,
        -160
      ],
      "notes": "Extrae token y siteId de la respuesta de Tableau.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "url": "={{$json.tableauServer + '/api/3.20/sites/' + $json.tableauSiteId + '/views/' + $json.tableauViewId + '/data'}}",
        "method": "GET",
        "responseFormat": "file",
        "dataPropertyName": "data",
        "queryParametersUi": {
          "parameter": [
            {
              "name": "vf_Fecha",
              "value": "={{$json.filters.Fecha}}"
            },
            {
              "name": "vf_Site",
              "value": "={{$json.filters.Site}}"
            },
            {
              "name": "vf_Vertical",
              "value": "={{$json.filters.Vertical}}"
            },
            {
              "name": "vf_Segmento",
              "value": "={{$json.filters.Segmento}}"
            },
            {
              "name": "vf_AGG1",
              "value": "={{$json.filters.AGG1}}"
            },
            {
              "name": "vf_AGG2",
              "value": "={{$json.filters.AGG2}}"
            },
            {
              "name": "vf_Domain",
              "value": "={{$json.filters.Domain}}"
            },
            {
              "name": "vf_Brand",
              "value": "={{$json.filters.Brand}}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-Tableau-Auth",
              "value": "={{$json.tableauToken}}"
            },
            {
              "name": "Accept",
              "value": "text/csv"
            }
          ]
        },
        "options": {}
      },
      "id": "tableau-query-1",
      "name": "Tableau Query View",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        660,
        -160
      ],
      "notes": "Consulta la vista con vf_ + filtros exactos. Requiere viewId.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "data",
        "options": {
          "headerRow": true
        }
      },
      "id": "tableau-csv-1",
      "name": "Tableau CSV to JSON",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        900,
        -160
      ],
      "notes": "Convierte CSV a JSON. Asegurar que el request devuelva CSV.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "functionCode": "const cfg = $node[\"Normalize Filters\"].json;\nconst rows = $items().map(i => i.json);\nreturn [{ json: { question: cfg.question, track: cfg.track, intent: cfg.intent, filters: cfg.filters, data: rows, source: 'Tableau: Fakes Summary' } }];"
      },
      "id": "prepare-fakes-1",
      "name": "Prepare Data - Fakes",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1140,
        -160
      ],
      "notes": "Estandariza estructura para respuesta.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "functionCode": "const cfg = $node[\"Normalize Filters\"].json;\nconst f = cfg.filters || {};\nconst where = [];\nif (f.Site && f.Site !== 'all') where.push(`Site = '${f.Site}'`);\nif (f.Vertical && f.Vertical !== 'all') where.push(`Vertical = '${f.Vertical}'`);\nif (f.Segmento && f.Segmento !== 'all') where.push(`Segmento = '${f.Segmento}'`);\nif (f.Domain && f.Domain !== 'all') where.push(`Domain = '${f.Domain}'`);\nif (f.Brand && f.Brand !== 'all') where.push(`Brand = '${f.Brand}'`);\nif (f.Fecha && f.Fecha.includes(':')) {\n  const [start, end] = f.Fecha.split(':');\n  if (start) where.push(`Fecha >= '${start}'`);\n  if (end) where.push(`Fecha <= '${end}'`);\n}\nconst table = cfg.bqTable || '<BQ_TABLE>';\nconst sql = `SELECT * FROM \\`${table}\\`${where.length ? ' WHERE ' + where.join(' AND ') : ''} LIMIT 5000`;\nreturn [{ json: { ...cfg, sql } }];"
      },
      "id": "build-ec-sql-1",
      "name": "Build EC SQL",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        180,
        160
      ],
      "notes": "Construye SQL para EC con filtros. Reemplazar <BQ_TABLE>.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "projectId": "={{$json.bqProject}}",
        "query": "={{$json.sql}}",
        "options": {
          "useLegacySql": false
        }
      },
      "id": "bq-exec-1",
      "name": "BigQuery - Execute",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 1,
      "position": [
        420,
        160
      ],
      "notes": "Ejecuta query en BigQuery. Requiere credenciales.",
      "notesInFlow": true,
      "credentials": {
        "googleBigQueryOAuth2Api": {
          "id": "<REDACTED_CREDENTIAL>",
          "name": "<REDACTED_CREDENTIAL>"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const cfg = $node[\"Normalize Filters\"].json;\nconst rows = $items().map(i => i.json);\nreturn [{ json: { question: cfg.question, track: cfg.track, intent: cfg.intent, filters: cfg.filters, data: rows, source: 'BigQuery: Enhanced Content' } }];"
      },
      "id": "prepare-ec-1",
      "name": "Prepare Data - EC",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        660,
        160
      ],
      "notes": "Estandariza estructura para respuesta.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "sendBody": true,
        "jsonParameters": true,
        "bodyParametersJson": "={{ { model: $node[\"Set - Context & Placeholders\"].json.openaiModel, temperature: 0.2, response_format: { type: 'json_object' }, messages: [ { role: 'system', content: 'Eres Melinda. Redacta respuesta ejecutiva en espanol, breve y clara. Usa SOLO los datos entregados. Si no hay datos, dilo explicitamente. Devuelve SOLO JSON con esta estructura exacta: {\"respuesta\":\"string\",\"bullets\":[\"string\"],\"tabla\":[],\"filtros\":{},\"fuente\":\"string\"}' }, { role: 'user', content: JSON.stringify({ question: $json.question, track: $json.track, intent: $json.intent, filters: $json.filters, source: $json.source, data: $json.data }) } ] } }}",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $node[\"Set - Context & Placeholders\"].json.openaiApiKey}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "openai-answer-1",
      "name": "OpenAI - Generate Answer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1380,
        0
      ],
      "notes": "Redacta respuesta ejecutiva. Devuelve JSON en message.content.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "functionCode": "const content = $json.choices?.[0]?.message?.content || '{}';\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch (e) {\n  parsed = { respuesta: 'No se pudo parsear la respuesta del modelo.', bullets: [], tabla: [], filtros: {}, fuente: 'N/A', _raw: content };\n}\nconst execSource = $node[\"Normalize Filters\"].json.executionSource || 'webhook';\nparsed._executionSource = execSource;\nreturn [{ json: parsed }];"
      },
      "id": "parse-answer-1",
      "name": "Parse Answer JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1600,
        0
      ],
      "notes": "Parsea JSON generado por OpenAI y agrega fuente de ejecución.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "error",
              "value": "unsupported_track"
            },
            {
              "name": "message",
              "value": "Track no soportado en el MVP. Usa Fakes o Enhanced Content."
            },
            {
              "name": "track",
              "value": "={{$json.track}}"
            },
            {
              "name": "_executionSource",
              "value": "={{$node[\"Normalize Filters\"].json.executionSource}}"
            }
          ]
        },
        "options": {}
      },
      "id": "unsupported-track-1",
      "name": "Set - Unsupported Track",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        180,
        340
      ],
      "notes": "Fallback cuando no se detecta track valido.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json._executionSource}}",
              "operation": "equal",
              "value2": "webhook"
            }
          ]
        }
      },
      "id": "if-webhook-1",
      "name": "IF - Is Webhook",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1760,
        0
      ],
      "notes": "Si es webhook responde HTTP, si es manual termina sin error.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "responseBody": "={{$json}}",
        "responseCode": 200,
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1960,
        -40
      ],
      "notes": "Respuesta final del webhook.",
      "notesInFlow": true
    },
    {
      "parameters": {},
      "id": "noop-manual-1",
      "name": "NoOp - Manual Output",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        120
      ],
      "notes": "Salida final para ejecuciones manuales (sin webhook).",
      "notesInFlow": true
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set - Manual Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Manual Question": {
      "main": [
        [
          {
            "node": "Set - Context & Placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Question": {
      "main": [
        [
          {
            "node": "Set - Context & Placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Context & Placeholders": {
      "main": [
        [
          {
            "node": "OpenAI - Parse Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Parse Intent": {
      "main": [
        [
          {
            "node": "Parse Intent JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intent JSON": {
      "main": [
        [
          {
            "node": "Normalize Filters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Filters": {
      "main": [
        [
          {
            "node": "Switch - Track",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Track": {
      "main": [
        [
          {
            "node": "Tableau Sign In",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build EC SQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - Unsupported Track",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tableau Sign In": {
      "main": [
        [
          {
            "node": "Tableau Extract Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tableau Extract Token": {
      "main": [
        [
          {
            "node": "Tableau Query View",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tableau Query View": {
      "main": [
        [
          {
            "node": "Tableau CSV to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tableau CSV to JSON": {
      "main": [
        [
          {
            "node": "Prepare Data - Fakes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data - Fakes": {
      "main": [
        [
          {
            "node": "OpenAI - Generate Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build EC SQL": {
      "main": [
        [
          {
            "node": "BigQuery - Execute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BigQuery - Execute": {
      "main": [
        [
          {
            "node": "Prepare Data - EC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data - EC": {
      "main": [
        [
          {
            "node": "OpenAI - Generate Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Generate Answer": {
      "main": [
        [
          {
            "node": "Parse Answer JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Answer JSON": {
      "main": [
        [
          {
            "node": "IF - Is Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Unsupported Track": {
      "main": [
        [
          {
            "node": "IF - Is Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Is Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp - Manual Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "<REDACTED>",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "<REDACTED>"
  },
  "id": "query__melinda_core",
  "tags": []
}
