workflows/melinda-query-core-starter.json
[
  {
    "name": "query__melinda_core",
    "nodes": [
      {
        "parameters": {
          "path": "melinda/query",
          "httpMethod": "POST",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-node-1",
        "name": "Webhook - Question",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -1200,
          0
        ],
        "notes": "Entrada HTTP. Espera {\"question\":\"...\"}. PROTEGE en prod (HMAC header / token / auth).",
        "notesInFlow": true
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "question",
                "value": "={{$json.question}}"
              },
              {
                "name": "openaiApiKey",
                "value": "<USE_N8N_CREDENTIAL_OPENAI>"
              },
              {
                "name": "openaiModel",
                "value": "gpt-4o-mini"
              },
              {
                "name": "tableauServer",
                "value": "https://<TABLEAU_SERVER>"
              },
              {
                "name": "tableauSiteContentUrl",
                "value": "<TABLEAU_SITE_CONTENT_URL>"
              },
              {
                "name": "tableauViewId",
                "value": "<TABLEAU_VIEW_ID>"
              },
              {
                "name": "tableauPATName",
                "value": "<USE_N8N_CREDENTIAL_TABLEAU>"
              },
              {
                "name": "tableauPATSecret",
                "value": "<USE_N8N_CREDENTIAL_TABLEAU>"
              },
              {
                "name": "bqTable",
                "value": "<BQ_TABLE>"
              },
              {
                "name": "bqProject",
                "value": "<BQ_PROJECT_ID>"
              }
            ]
          },
          "options": {}
        },
        "id": "set-node-1",
        "name": "Set - Context & Placeholders",
        "type": "n8n-nodes-base.set",
        "typeVersion": 2,
        "position": [
          -980,
          0
        ],
        "notes": "Placeholders para credenciales y config. NO almacenar secretos reales aquí. Configure credenciales en n8n UI.",
        "notesInFlow": true
      },
      {
        "parameters": {
          "url": "https://api.openai.com/v1/chat/completions",
          "method": "POST",
          "sendBody": true,
          "jsonParameters": true,
          "bodyParametersJson": "={{ { model: $json.openaiModel, temperature: 0.2, response_format: { type: 'json_object' }, messages: [ { role: 'system', content: 'Eres Melinda. Extrae filtros y devuelve SOLO JSON valido. Estructura: {\"track\":\"Fakes|Enhanced Content|Other\",\"metric\":\"string|empty\",\"filters\":{\"Fecha\":\"YYYY-MM-DD:YYYY-MM-DD|empty\",\"Site\":\"string|all\",\"Vertical\":\"string|all\",\"Segmento\":\"string|all\",\"AGG1\":\"string|empty\",\"AGG2\":\"string|empty\",\"Domain\":\"string|all\",\"Brand\":\"string|all\"},\"intent\":\"descriptive|comparison|trend\"} Reglas: - Si menciona fakes o vidriera => Fakes. - Si menciona EC/enhanced => Enhanced Content. - No inventar valores.' }, { role: 'user', content: $json.question } ] } }}",
          "headerParametersUi": {
            "parameter": [
              {
                "name": "Authorization",
                "value": "={{'Bearer ' + $json.openaiApiKey}}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "id": "openai-parse-1",
        "name": "OpenAI - Parse Intent",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          -740,
          0
        ],
        "notes": "Parsea pregunta a filtros. Configure credencial OpenAI en n8n (no en Set node).",
        "notesInFlow": true
      },
      {
        "parameters": {
          "functionCode": "const content = $json.choices?.[0]?.message?.content || '{}';\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch (e) {\n  parsed = { track: 'Other', metric: '', filters: {}, intent: 'descriptive', _parse_error: true, _raw: content };\n}\nreturn [{ json: parsed }];"
        },
        "id": "parse-intent-1",
        "name": "Parse Intent JSON",
        "type": "n8n-nodes-base.function",
        "typeVersion": 2,
        "position": [
          -520,
          0
        ],
        "notes": "Convierte la salida de OpenAI a JSON.",
        "notesInFlow": true
      },
      {
        "parameters": {
          "functionCode": "const payload = $json || {};\nconst errors = [];\nif(!['descriptive','comparison','trend','unknown'].includes((payload.intent||'').toString())) errors.push('invalid_intent');\nif(!payload.track) payload.track = 'Other';\nif(typeof payload.filters !== 'object') errors.push('filters_not_object');\nif(payload._parse_error) errors.push('parse_error_from_llm');\nif(errors.length) {\n  return [{ json: { _valid: false, errors } }];\n}\nreturn [{ json: { ...payload, _valid: true } }];"
        },
        "id": "validate-intent-1",
        "name": "Validate Intent Schema",
        "type": "n8n-nodes-base.function",
        "typeVersion": 2,
        "position": [
          -360,
          0
        ],
        "notes": "Validación básica de la intención/filters.",
        "notesInFlow": true
      },
      {
        "parameters": {
          "functionCode": "const inData = $json || {};\nif(inData._valid === false){\n  return [{ json: { error: 'invalid_intent_schema', details: inData.errors || [] } }];\n}\nconst cfg = $node[\"Set - Context & Placeholders\"].json || {};\nconst trackRaw = (inData.track || '').toString().toLowerCase();\nlet track = inData.track || 'Other';\nif (trackRaw.includes('fake') || trackRaw.includes('vidriera')) track = 'Fakes';\nif (trackRaw.includes('enhanced') || trackRaw === 'ec' || trackRaw.includes('ec')) track = 'Enhanced Content';\nconst f = inData.filters || {};\nconst filters = {\n  Fecha: f.Fecha || '',\n  Site: f.Site || 'all',\n  Vertical: f.Vertical || 'all',\n  Segmento: f.Segmento || 'all',\n  AGG1: f.AGG1 || '',\n  AGG2: f.AGG2 || '',\n  Domain: f.Domain || 'all',\n  Brand: f.Brand || 'all'\n};\nreturn [{\n  json: {\n    question: cfg.question || inData.question || '',\n    track,\n    metric: inData.metric || '',\n    intent: inData.intent || 'descriptive',\n    filters,\n    openaiApiKey: cfg.openaiApiKey || '',\n    openaiModel: cfg.openaiModel || '',\n    tableauServer: cfg.tableauServer || '',\n    tableauSiteContentUrl: cfg.tableauSiteContentUrl || '',\n    tableauViewId: cfg.tableauViewId || '',\n    tableauPATName: cfg.tableauPATName || '',\n    tableauPATSecret: cfg.tableauPATSecret || '',\n    bqTable: cfg.bqTable || '',\n    bqProject: cfg.bqProject || ''\n  }\n}];"
        },
        "id": "normalize-filters-1",
        "name": "Normalize Filters",
        "type": "n8n-nodes-base.function",
        "typeVersion": 2,
        "position": [
          -180,
          0
        ],
        "notes": "Normaliza track y defaults.",
        "notesInFlow": true
      },
      {
        "parameters": {
          "dataType": "string",
          "value1": "={{$json.track}}",
          "rules": [
            {
              "operation": "equal",
              "value2": "Fakes"
            },
            {
              "operation": "equal",
              "value2": "Enhanced Content"
            }
          ]
        },
        "id": "switch-track-1",
        "name": "Switch - Track",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 2,
        "position": [
          60,
          0
        ],
        "notes": "Rutea a Fakes (Tableau) o Enhanced Content (BigQuery).",
        "notesInFlow": true
      },
      {
        "parameters": {
          "responseBody": "={{$json}}",
          "responseCode": 200,
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          }
        },
        "id": "respond-1",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          300,
          0
        ],
        "notes": "Respuesta final del webhook (sólo nodos de prueba importados).",
        "notesInFlow": true
      }
    ],
    "connections": {
      "Webhook - Question": {
        "main": [
          [
            {
              "node": "Set - Context & Placeholders",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set - Context & Placeholders": {
        "main": [
          [
            {
              "node": "OpenAI - Parse Intent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI - Parse Intent": {
        "main": [
          [
            {
              "node": "Parse Intent JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Intent JSON": {
        "main": [
          [
            {
              "node": "Validate Intent Schema",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Intent Schema": {
        "main": [
          [
            {
              "node": "Normalize Filters",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Filters": {
        "main": [
          [
            {
              "node": "Switch - Track",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Switch - Track": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1"
    },
    "id": "query__melinda_core",
    "tags": []
  }
]
